<div class="text-center">
  <h1>Now your result</h1>
  <h3>Your word: <%= @word %></h3>
     <p>Time Taken to answer: <%= @score[:time]%></p>
     <p>Translation: <%= @score[:translation] %></p>
     <p>Your score: <%= @score[:score] %></p>
     <p>Message: <%= @score[:message] %></p>
</div>
